@import '../utils/mixings.scss';
@import '../utils/variables.scss';

.box1 {
    border-color: #e0e0e0;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabs {
    background-color: #3d3d3d;
    border-radius: 8px;
    padding: 5px;

    .MuiTab-root {
        color: #b0b0b0 !important;
        font-weight: bold;
        background-color: #3d3d3d;
        flex-grow: 1;
        text-align: center;
        max-width: none;
        min-width: 0;
        width: 25%;
        transition: all 0.3s ease;
    }

    .Mui-selected {
        background-color: #000000;
        color: white !important;
        border-radius: 6px;
        padding: inherit;
    }
}

.MuiTabs-flexContainer {
    justify-content: space-around;
}

.MuiTabs-indicator {
    display: none;
}

#filter-input {
    @include input;
}

#filter-input:focus {
    border-color: $color-accent;
}

.box2 {
    margin-top: 100px;
    transition: opacity 0.3s ease-in-out;
}

/* Eliminar la transición suave de opacidad que interfería con la visibilidad */
.tab-panel {
    display: none;
    /* Mantener los paneles ocultos de forma predeterminada */
}

.tab-panel.visible {
    display: block;
    /* Mostrar solo el panel activo */
}

h3 {
    color: $color-accent;
    font-family: $font-family-heading;
    text-align: center;
}

#no-gigs-message-box {
    @include blue-box;
    border-radius: 8px;
    padding: $spacing-xl;
    width: 100%;
    margin-bottom: 100px;
}

.MuiBox-root {
    padding: 0 !important;
}

#total-budget-box {
    @include magenta-box;

}

@media (max-width: 768px) {
    .box2 {
        margin-top: 0px;

    }

    #filter-input {
        width: 100%;
    }
}